<div class="metrics-intro-container">
  <section class="hero" id="metrics-hero">
    <div class="hero__glow hero__glow--primary"></div>
    <div class="hero__glow hero__glow--secondary"></div>

    <div class="hero__badge">
      <span class="hero__badge-dot"></span>
      <span>{{ "features.metrics.badges.title" | translate }}</span>
    </div>

    <h1 class="hero__headline">
      {{ "features.metrics.title" | translate }}
    </h1>

    <p class="hero__desc">
      {{ "features.metrics.description" | translate }}
    </p>
    <div class="hero__desc">
      {{ "features.metrics.chapters" | translate }}
    </div>
  </section>
</div>

<!-- Relink when scroll down -->
<section class="scroll-trigger scroll-trigger--down" (click)="goToNext()">
  <span class="scroll-trigger__label"> {{ "common.button.details" | translate }}</span>
  <ng-icon name="bootstrapArrowDown" class="scroll-trigger__icon"></ng-icon>
</section>
