<div class="autonomy-intro-container">
  <section class="hero" id="autonomy-hero">
    <div class="hero__glow hero__glow--primary"></div>
    <div class="hero__glow hero__glow--secondary"></div>

    <div class="hero__badge">
      <span class="hero__badge-dot"></span>
      <span>{{ "features.autonomy.badges.title" | translate }}</span>
    </div>

    <h1 class="hero__headline">
      {{ "features.autonomy.intro.title" | translate }}
    </h1>


    <p class="hero__desc">
      {{ "features.autonomy.intro.description" | translate }}
    </p>
  </section>
</div>


<!-- Relink when scroll down -->
<section class="scroll-trigger scroll-trigger--down" (click)="goToNext()">
  <span class="scroll-trigger__label"> {{ "common.button.details" | translate }}</span>
  <ng-icon name="bootstrapArrowDown" class="scroll-trigger__icon"></ng-icon>
</section>
