<div class="installation-container">
  <!-- Hero Section -->
  <header class="installation-hero">
    <div class="hero__glow hero__glow--primary"></div>
    <div class="hero__glow hero__glow--secondary"></div>

    <div class="hero__badge">
      <span class="hero__badge-dot"></span>
      <span>{{ "installation.badge" | translate }}</span>
    </div>

    <h1 class="hero__headline">
      {{ "installation.title" | translate }}
    </h1>

    <p class="hero__desc">
      {{ "installation.content" | translate }}
    </p>
  </header>

  <!-- Technical Documentation Window -->
  <main id="front" class="installation-doc-section">
    <h3 class="title">Front-End</h3>
      <div class="doc-window__body">
        <markdown
          class="installation__doc"
          [src]="'assets/pages/installation/installation_front_' + (translate.currentLang || 'en') + '.md'">
        </markdown>
      </div>
  </main>

  <!-- Technical Documentation Window -->
  <main id="back" class="installation-doc-section">
    <h3 class="title">Back-End</h3>
    <div class="doc-window__body">
      <markdown
        class="installation__doc"
        [src]="'assets/pages/installation/installation_back_' + (translate.currentLang || 'en') + '.md'">
      </markdown>
    </div>
  </main>
</div>

<!-- Relink when scroll down -->
<section class="scroll-trigger scroll-trigger--down" (click)="goToNext()">
  <span class="scroll-trigger__label"> {{ "common.button.next" | translate }}</span>
  <ng-icon name="bootstrapArrowDown" class="scroll-trigger__icon"></ng-icon>
</section>
