<div class="workflow-container">
  <!-- HERO SECTION -->
  <section class="hero" id="monitoring-workflow-hero">
    <div class="hero__glow hero__glow--primary"></div>
    <div class="hero__glow hero__glow--secondary"></div>

    <div class="hero__badge reveal" (click)="goToMonitoring()">
      <span class="hero__badge-dot"></span>
      <span>{{ "features.monitoring.badges.title" | translate }}</span>
    </div>

    <h1 class="hero__headline reveal">
      {{ "features.monitoring.workflow.title" | translate }}
    </h1>
  </section>

  <section class="section" id="monitoring-workflow-value">
    <div class="workflow-illustration reveal">
      <img
        src="assets/icons/features/monitoring/multiprotocols.png"
        alt="Multiprotocols"
        class="workflow-illustration__img"
      />
    </div>
    <div class="section__header reveal">
      <h2 class="section__header">{{ "features.monitoring.workflow.monitore.title" | translate }}</h2>
      <p class="hero__desc reveal">{{ "features.monitoring.workflow.monitore.desc" | translate }}</p>
    </div>
    <div class="section__header reveal">
      <h2 class="section__header">{{ "features.monitoring.workflow.stages.title" | translate }}</h2>
      <p class="hero__desc reveal">{{ "features.monitoring.workflow.stages.desc" | translate }}</p>
    </div>
  </section>
</div>

<!-- Relink when scroll down -->
<section class="scroll-trigger scroll-trigger--down" (click)="goToNext()">
  <span class="scroll-trigger__label"> {{ "common.button.next" | translate }}</span>
  <ng-icon name="bootstrapArrowDown" class="scroll-trigger__icon"></ng-icon>
</section>
